.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background-image: url("../../assets/cristina-matos-albers-Ltv7a5m8i4c-unsplash.jpg");
  background-color: #cccccc;
  /* Used if the image is unavailable */
  height: 900px;
  /* You must set a specified height */
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}